my_xml/MyTest1.xsd

<?xml version="1.0" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

<xs:element name="StudentInfo">
    <xs:complexType>
	    <xs:sequence>
<xs:element ref="Student" minOccurs="0" maxOccurs="unbounded" />
        </xs:sequence>
	</xs:complexType>
</xs:element>


    <xs:element name="Student">
	    <xs:complexType>
		    <xs:sequence>
			<xs:element name="Name" type="NameType"/>
			</xs:sequence>
			
			<xs:attribute name="id" use="required"/>
		</xs:complexType>
	</xs:element>

    <xs:simpleType name="NameType">
	    <xs:restriction base="xs:string">
	        <xs:pattern value="[A-Z][a-z]{3,10}"/>
		</xs:restriction>
	</xs:simpleType>

</xs:schema>